@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  background-color: #09090b; /* zinc-950 */
  color: #e4e4e7; /* zinc-200 */
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont;
}
